table
{
	font-family: calibri;
	size: 20px;
}
input[type ="text"],input[type = "Password"],select
{
	font-family: calibri;
	font-size: 20px;
	width: 250px;
	height: 35px;
}
input[type="radio"],input[type="checkbox"]
{
	font-family: calibri;
	font-size: 20;
}
textarea
{
	font-family: calibri;
	font-size: 20px;
}
input[type="submit"]
{
	font-family: calibri;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: black;
	border-color: pink;
	width: 100px;
    height: 35px;
}
